# =========================
# LUNO API CREDENTIALS
# =========================
LUNO_API_KEY=
LUNO_API_SECRET=

# =========================
# APP SETTINGS
# =========================
LOG_LEVEL=DEBUG # Options: DEBUG, INFO, WARNING
LOG_DIR=logs
RUN_MODE=dry_run    # Options: dry_run, live
RUN_EVERY_N_MINUTES=10
USE_MANY_MODELS=False
TRADER_TIMEOUT_SECONDS=300

# =========================
# TOOLS API CREDENTIALS
# =========================
BRAVE_SEARCH_API=
BRAVE_REQUESTS_PER_SECOND=1
DEEPSEEK_API_KEY=
OPENAI_API_KEY=